* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.links {
  text-decoration: none;
  color: #626262;
}

.links:hover {
  color: black;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 280px;
  height: 70px;
  border-radius: 50px;
  margin-top: 30px;
  background-color: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  transition: 0.3s;
  background: #d32323;
  transform: translateY(-1px);
}

@media (max-width: 1280px) {
  .btn {
    gap: 10px;
    width: 250px;
    height: 60px;
    font-size: 18px;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .btn {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .btn {
    width: 175px;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .btn {
    width: 200px;
    height: 45px;
    font-size: 14px;
  }
}
